.body-style {
    display: flex;
    justify-content: space-between
}

.div1 {
    background-color: dodgerblue;
    width: 33.333333333%;
    height: 100vh;
}

.div2 {
    background-color: turquoise;
    width: 33.33333333%;
    height: 100vh;
}
.div3 {
    background-color: lightgreen;
    width: 33.333333%;
    height: 80vh;
}

.footer {
    width:33.333333%;
    height: 20vh;
    background-color: red;
    color: white;
    text-align: center;
    padding: 8px;
    position: fixed;
     bottom: 0;
     right: 0;
    
}